//Images
.img-avatar {
    @include img-disp;
    margin-top: em(10);
    max-width: 100%; 
    max-height: 100%;
  }
  
  .img-frame {
    @include img-disp;
    margin-top: em(10);
    max-width: 100%;
    padding: em(13);
    border: 1px solid #ccc;
    
  }
  
  .img-logo {
    @include img-disp;
  }
  